In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from pandas import Series  as SE, DataFrame as DF

In [7]:
obj = SE(range(4),index=['d','a','b','c'])
obj

d    0
a    1
b    2
c    3
dtype: int64

In [8]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [9]:
obj.sort_values()

d    0
a    1
b    2
c    3
dtype: int64

In [11]:
obj = obj.sort_index()
obj

a    1
b    2
c    3
d    0
dtype: int64

In [37]:
frame = DF(np.arange(8).reshape(2,4),columns=['d','a','b','c'], index=['three','one'])
#frame = DF(np.arange(8).reshape(2,4),columns=[list('dabc')], index=['three','one'])

In [38]:
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [39]:
frame.sort_index(axis=1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [40]:
frame.sort_index(axis=1,ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [41]:
#frame.info()
frame.sort_values(by=['d'])

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [31]:
fr = DF({'b':[4,7,3,2],'a':[4,9,2,5],'c':[5,3,7,9]})

In [33]:
fr.sort_values(by='b')

   b  a  c
3  2  5  9
2  3  2  7
0  4  4  5
1  7  9  3

In [47]:
obj = SE([100,23,55,44,22,99,33])
obj

0    100
1     23
2     55
3     44
4     22
5     99
6     33
dtype: int64

In [46]:
obj.rank(ascending=False)

0    1.0
1    6.0
2    3.0
3    4.0
4    7.0
5    2.0
6    5.0
dtype: float64

In [48]:
obj = SE([100,23,100,44,22,99,33])
obj

0    100
1     23
2    100
3     44
4     22
5     99
6     33
dtype: int64

In [50]:
obj.rank(ascending=False)

0    1.5
1    6.0
2    1.5
3    4.0
4    7.0
5    3.0
6    5.0
dtype: float64

In [51]:
obj.rank(ascending=False, method='first')

0    1.0
1    6.0
2    2.0
3    4.0
4    7.0
5    3.0
6    5.0
dtype: float64

In [52]:
fr

   b  a  c
0  4  4  5
1  7  9  3
2  3  2  7
3  2  5  9

In [53]:
fr.rank(axis=1)

     b    a    c
0  1.5  1.5  3.0
1  2.0  3.0  1.0
2  2.0  1.0  3.0
3  1.0  2.0  3.0

In [54]:
fr.rank()

     b    a    c
0  3.0  2.0  2.0
1  4.0  4.0  1.0
2  2.0  1.0  3.0
3  1.0  3.0  4.0

In [55]:
fr = DF({'b':[4,7,3,2],'a':[4,9,2,5],'c':[5,3,7,np.nan]})

In [57]:
fr

   b  a    c
0  4  4  5.0
1  7  9  3.0
2  3  2  7.0
3  2  5  NaN

In [65]:
fr.sum()

b    16.0
a    20.0
c    15.0
dtype: float64

In [70]:
fr.sum(skipna=False)

b    16.0
a    20.0
c     NaN
dtype: float64

### 최대치/최소치가 있는 위치 : idxmax(), idxmin()

In [71]:
fr.idxmax()

b    1
a    1
c    2
dtype: int64

In [72]:
fr.idxmin()

b    3
a    2
c    1
dtype: int64

In [63]:
fr.mean()

b    4.0
a    5.0
c    5.0
dtype: float64

In [64]:
fr.mean(skipna=False)

b    4.0
a    5.0
c    NaN
dtype: float64

In [62]:
fr.sum(axis=1)

0    13.0
1    19.0
2    12.0
3     7.0
dtype: float64

In [74]:
obj = SE(list('cadaabbcc'))
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [76]:
obj.unique()

array(['c', 'a', 'd', 'b'], dtype=object)

In [85]:
obj.value_counts(ascending=False)

c    3
a    3
b    2
d    1
dtype: int64

In [87]:
obj[obj.isin(['a','d'])]

1    a
2    d
3    a
4    a
dtype: object

In [88]:
mask = obj.isin(['a','d'])

In [91]:
mask

0    False
1     True
2     True
3     True
4     True
5    False
6    False
7    False
8    False
dtype: bool

In [97]:
obj[mask]

1    a
2    d
3    a
4    a
dtype: object

### 객체.isin()의 반대는 ~객체.isin()

In [96]:
~obj.isin(['a', 'd'])

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [101]:
frame = DF({'X':['c','a','d','a','a','b','b','c','c'],
'Y':['f','g','d','g','h','e','d','h','f'],
'Z':['a','e','d','g','d','e','q','b','c']})
frame

   X  Y  Z
0  c  f  a
1  a  g  e
2  d  d  d
3  a  g  g
4  a  h  d
5  b  e  e
6  b  d  q
7  c  h  b
8  c  f  c

In [102]:
frame.apply(pd.value_counts)

     X    Y    Z
a  3.0  NaN  1.0
b  2.0  NaN  1.0
c  3.0  NaN  1.0
d  1.0  2.0  2.0
e  NaN  1.0  2.0
f  NaN  2.0  NaN
g  NaN  2.0  1.0
h  NaN  2.0  NaN
q  NaN  NaN  1.0

In [104]:
frame.value_counts()

X  Y  Z
a  g  e    1
      g    1
   h  d    1
b  d  q    1
   e  e    1
c  f  a    1
      c    1
   h  b    1
d  d  d    1
dtype: int64

In [105]:
frame.apply(pd.value_counts).fillna(0)

     X    Y    Z
a  3.0  0.0  1.0
b  2.0  0.0  1.0
c  3.0  0.0  1.0
d  1.0  2.0  2.0
e  0.0  1.0  2.0
f  0.0  2.0  0.0
g  0.0  2.0  1.0
h  0.0  2.0  0.0
q  0.0  0.0  1.0

In [108]:
from numpy import nan as NA
data = DF([[NA,6.5,3.],[NA,NA,NA],[NA,NA,NA],[NA,6.5,3.]])
data

    0    1    2
0 NaN  6.5  3.0
1 NaN  NaN  NaN
2 NaN  NaN  NaN
3 NaN  6.5  3.0

In [109]:
data.fillna(0)

     0    1    2
0  0.0  6.5  3.0
1  0.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  6.5  3.0

In [120]:
data.isin([np.nan])

      0      1      2
0  True  False  False
1  True   True   True
2  True   True   True
3  True  False  False

In [118]:
# 모든 열의 값이 Null인 경우만 삭제)
data.dropna(how='all')

    0    1    2
0 NaN  6.5  3.0
3 NaN  6.5  3.0

In [119]:
data.dropna(how='any')

Empty DataFrame
Columns: [0, 1, 2]
Index: []

In [125]:
data.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

### np.random.randn(행,열) 평균이 0이고 편차가 1인 정규분포 난수생성

In [124]:
df = DF(np.random.randn(7,3))
df

          0         1         2
0 -2.061982 -0.255181  0.064343
1  0.121817  1.170627  0.279092
2  0.991460 -0.282933  0.471214
3  2.419356  0.501409  0.452233
4 -0.123398  0.481885 -0.992963
5 -0.001034  1.234511  0.928106
6  0.655306 -0.797469 -1.827123

In [129]:
df.iloc[:4,[0,2]]

          0         2
0 -2.061982  0.064343
1  0.121817  0.279092
2  0.991460  0.471214
3  2.419356  0.452233

In [130]:
df.iloc[:4,1]

0   -0.255181
1    1.170627
2   -0.282933
3    0.501409
Name: 1, dtype: float64

In [131]:
df.iloc[:4,1] = np.nan
df

          0         1         2
0 -2.061982       NaN  0.064343
1  0.121817       NaN  0.279092
2  0.991460       NaN  0.471214
3  2.419356       NaN  0.452233
4 -0.123398  0.481885 -0.992963
5 -0.001034  1.234511  0.928106
6  0.655306 -0.797469 -1.827123

In [133]:
df.iloc[:2,2]

0    0.064343
1    0.279092
Name: 2, dtype: float64

In [134]:
df.iloc[:2,2] = NA
df

          0         1         2
0 -2.061982       NaN       NaN
1  0.121817       NaN       NaN
2  0.991460       NaN  0.471214
3  2.419356       NaN  0.452233
4 -0.123398  0.481885 -0.992963
5 -0.001034  1.234511  0.928106
6  0.655306 -0.797469 -1.827123

In [136]:
df.iloc[0,0]

-2.0619822363815947

In [137]:
df.iloc[0,0] = np.nan
df

          0         1         2
0       NaN       NaN       NaN
1  0.121817       NaN       NaN
2  0.991460       NaN  0.471214
3  2.419356       NaN  0.452233
4 -0.123398  0.481885 -0.992963
5 -0.001034  1.234511  0.928106
6  0.655306 -0.797469 -1.827123

In [138]:
df.dropna()

          0         1         2
4 -0.123398  0.481885 -0.992963
5 -0.001034  1.234511  0.928106
6  0.655306 -0.797469 -1.827123

In [142]:
df.dropna(axis=0,how='all')

          0         1         2
1  0.121817       NaN       NaN
2  0.991460       NaN  0.471214
3  2.419356       NaN  0.452233
4 -0.123398  0.481885 -0.992963
5 -0.001034  1.234511  0.928106
6  0.655306 -0.797469 -1.827123

In [143]:
df.dropna(axis=1,how='all')

          0         1         2
0       NaN       NaN       NaN
1  0.121817       NaN       NaN
2  0.991460       NaN  0.471214
3  2.419356       NaN  0.452233
4 -0.123398  0.481885 -0.992963
5 -0.001034  1.234511  0.928106
6  0.655306 -0.797469 -1.827123

In [144]:
df.dropna(thresh=2)

          0         1         2
2  0.991460       NaN  0.471214
3  2.419356       NaN  0.452233
4 -0.123398  0.481885 -0.992963
5 -0.001034  1.234511  0.928106
6  0.655306 -0.797469 -1.827123

In [148]:
df

          0         1         2
0       NaN       NaN       NaN
1  0.121817       NaN       NaN
2  0.991460       NaN  0.471214
3  2.419356       NaN  0.452233
4 -0.123398  0.481885 -0.992963
5 -0.001034  1.234511  0.928106
6  0.655306 -0.797469 -1.827123

### 결측치 대체 df.fillna({첫번째열:대체값,두번째열:대체값,...})

In [147]:
df.fillna({0:100,1:0.5,2:0.7})

            0         1         2
0  100.000000  0.500000  0.700000
1    0.121817  0.500000  0.700000
2    0.991460  0.500000  0.471214
3    2.419356  0.500000  0.452233
4   -0.123398  0.481885 -0.992963
5   -0.001034  1.234511  0.928106
6    0.655306 -0.797469 -1.827123

### List

In [149]:
shop_lst = []

In [150]:
shop_lst.append('milk')
shop_lst

['milk']

In [151]:
shop_lst.extend('two')
shop_lst

['milk', 't', 'w', 'o']

In [152]:
shop_lst[1] = 'bread'
shop_lst

['milk', 'bread', 'w', 'o']

In [153]:
shop_lst[2] = 'cheese'
shop_lst

['milk', 'bread', 'cheese', 'o']

### list.remove("값")

In [154]:
shop_lst.remove('o')

In [155]:
shop_lst

['milk', 'bread', 'cheese']

In [156]:
for i in shop_lst:
    print(i)

milk
bread
cheese

In [161]:
for i,j in enumerate(shop_lst):
    print(i, j)

0 milk
1 bread
2 cheese

In [163]:
if shop_lst.isin(['milk']):
    print('good')

AttributeError: 'list' object has no attribute 'isin'

In [164]:
if 'milk' in shop_lst:
    print('good')

good

In [165]:
if 'milk' not in shop_lst:
    print('Well')

### DICT{key:value, key:value, ...}

In [166]:
foods = {}

In [167]:
foods['banana'] = 'delicious'
foods

{'banana': 'delicious'}

In [168]:
foods['dirt'] = 'Not delicious'
foods

{'banana': 'delicious', 'dirt': 'Not delicious'}

In [170]:
foods.keys()

dict_keys(['banana', 'dirt'])

In [172]:
foods.values()

dict_values(['delicious', 'Not delicious'])

In [173]:
foods.items()

dict_items([('banana', 'delicious'), ('dirt', 'Not delicious')])

In [174]:
foods['banana']

'delicious'

In [175]:
if 'banana' in foods:
    print('good')

good

In [177]:
if 'apple' in foods:
    print('good')
else:
    print('sad')

sad

### del dict['key']  특정 딕셔너리 삭제

In [182]:
del foods['dirt']
foods

KeyError: 'dirt'

## *** File 다루기 ***

### 강사님 블로그 : https://blog.naver.com/ojunny62/221794769702

In [185]:
!type radishsurvey.txt

Evie Pulsford - April Cross
Matilda Condon - April Cross
Samantha Mansell - Champion
geronima trevisani - cherry belle
Alexandra Shoebridge - Snow Belle
Sarah Ahuia Ova - Snow Belle
Emma Slattery - Bunny Tail
Fabiana  Milanesi - Champion
Makayla McMinn - Snow Belle
Julian O'Leary - Sicily Giant
Hannah Collie - Bunny Tail
Toby Lundie - Plum Purple
Baldo Palerma - Champion
Phoebe Barwell - Plum Purple
Sheng Shen - Champion
Jonathan Rolph - Snow Belle
Aaron Yarnold - Red King
Indiana angwin -  Daikon
Luke Komine - White Icicle
Blake Ricardo - Daikon
Mikayla Biddell - Daikon
Piper Wheelwright - Bunny Tail
Bailey Derrington - White Icicle
Eufrosina Ferri - Daikon
Madeleine Abrahams - Daikon
Indiana Cowper - Sicily Giant
Procopio Zito - Red King
Ryan Langley - French Breakfast
anthony Gairdner - French Breakfast
Darcy Kayser - Champion
Adelmo De Luca - Plum Purple
Sienna Hovell - Champion
Mary Cardell - April Cross
Ebony Agnes - Daikon
Lola Atkinson - Plum Purple
Jonathan Walton - Champion
Tristan Gwynn - Red King
Jackson Longman - Red King
Archer Dodds - April Cross
Lilian Burne - French Breakfast
Ava McNaughtan - April Cross
Nate Shelley - Daikon
Antonia Buccho - Champion
Kaitlyn Rudduck - Cherry Belle
Skye Thynne - Champion
Ethan Collings - Plum Purple
Finn Leverrier - Plum Purple
Lee T'an - Plum Purple
Tyler Forbes - White Icicle
abbey dunkley -  plum purple
rose stacy - french breakfast
Gianfranco Cremonesi - White Icicle
Grace Wentworth - French Breakfast
Cooper Menkens -  Snow Belle
Scarlett Macdougall - French Breakfast
Fabio Pugliesi - Bunny Tail
Keira Wrenfordsley - Red King
Daniel Krimper -  Plum Purple
Anna Deniehy - April Cross
Sabrina Beneventi - Cherry Belle
Oliver Potts - Snow Belle
Milla Winn - Plum Purple
Finn Whitworth - Sicily Giant
Sophie Keynes - Plum Purple
Joel Brownell - Plum Purple
Jonathan Parsons - French Breakfast
Amelia Ellwood - Snow Belle
Lincoln Gatehouse - Bunny Tail
Jin Huang - Daikon
Kuan-Yin Sun - Champion
Tao Hsiao - White Icicle
Emily Walters - White Icicle
nicholas kirby - french breakfast
Hong Tsui - April Cross
Mikayla Fullagar - Cherry Belle
Lola Catchpole - April Cross
Lelia Toscani - Bunny Tail
Natasha Prout - Cherry Belle
Raffaello Schiavone - Red King
Erin Stephen - Plum Purple
Eve Peacock - Daikon
Jordan Manning - Sicily Giant
Tyler Lister - April Cross
brodie agnew - daikon
Lincoln Hirschfeld - Champion
Ciriaca Genovesi - Bunny Tail
Dewei Niu - Snow Belle
Fai Teng - Bunny Tail
Rossana Cattaneo -  Snow Belle
Isabelle Coombes - Daikon
Layla Hitchcock - Red King
Ashley Brigstocke - Red King
Lei Tai - Daikon
Victoria Humffray - Sicily Giant
Jake Champ - Daikon
Ben Vosper - Cherry Belle
Harrison Rose - Red King
Thomas Oom - White Icicle
Sophie Browning - Red King
Scarlett Hughes - Bunny Tail
Anthony Collits - Champion
Alicia Forrest - Sicily Giant
Riley Leakey - April Cross
Bethany Calwell - French Breakfast
Leo Sheil - April Cross
Kai MacMahon - April Cross
Rong Kuo - Champion
Stephanie Schnaars - White Icicle
Bethany Bardolph - French Breakfast
Guido Beneventi - French Breakfast
Victoria Witt - Daikon
Jun Hsiung - Bunny Tail
Noah Berrick - Daikon
Beato Mazzanti - Sicily Giant
Anna Denning - White Icicle
Sebastian George - Cherry Belle
Mackenzie Andrade - Champion
Sarah Joris  - Champion
Joel Cassell - Plum Purple
Harrison Moowattin - Champion
william fenner - plum purple
Madeline Corbin - Bunny Tail
Sebastian Davitt - Champion
Li Qin Ch'ien - Sicily Giant
Owen Lea - Champion
Liam Copeland - Champion
Brianna Eltham - Sicily Giant
Joseph Gresswell - Sicily Giant
Alfonsina Marchesi - April Cross
Caitlin Houlding - Snow Belle
Natalie Schlapp - April Cross
Shaiming Fu - Champion
Lisandro Monaldo - Champion
Ruby Fox - White Icicle
Benjamin Rankin - Snow Belle
Connor Letters - April Cross
Laura Macdowell - Daikon
Jake Hervey - April Cross
Alyssa Batman - Snow Belle
Archer Larra - French Breakfast
Brayden Dixon - Bunny Tail
Kuan-Yin Kuo - Cherry Belle
Lucy Ley - Red King
Rachele  Russo - Cherry Belle
Lucy Somers - Daikon
Ella Boucaut - Champion
Iacopo Baresi - Bunny Tail
Ali Dedman - White Icicle
Victoria Edinburgh - French Breakfast
Brianna Pye - Red King
Joel Bruce - Snow Belle
Lola Lea - Bunny Tail
Zachary Burford - Champion
Gabriella Bruton - April Cross
Finn Dunstan - Cherry Belle
Logan Truchanas - Red King
beau mclarty - white icicle
Carla De Luca - Daikon
Taylah Reynolds - Champion
Ava Musgrave - Bunny Tail
Jade Grimmett - Bunny Tail
Eliza Fink - April Cross
Charles Tearle - April Cross
Victoria Birch - Snow Belle
Mackenzie Geach - Plum Purple
Charles Card - Cherry Belle
Olivia Warnes - Sicily Giant
Jake Murdoch - Cherry Belle
Brayden Massina - April Cross
Sarah Milford - White Icicle
Lilian Pike - French Breakfast
Blake Dakin - Champion
Chi Hsiung - April Cross
Ludovica Siciliano - Sicily Giant
Rose Leahy - French Breakfast
Nicodemo Udinese - Bunny Tail
Amy Harriman - Sicily Giant
Harrison Macgeorge - Red King
Charles Mockridge - Cherry Belle
Victoria Hardie  - Sicily Giant
Jake Hambly - Sicily Giant
Bartolomeo Mancini - French Breakfast
Maya Shackleton - Snow Belle
Hudson Dodgshun - White Icicle
Scarlett Sullivan - Snow Belle
Noah Doyne - April cross
Aidan Santo - Bunny Tail
kai emmett - bunny tail
Christopher Gillan - Daikon
Lara Salting - White Icicle
Alfonso Costa - Daikon
Mackenzie Knatchbull - Red King
Oliver Beit - Plum Purple
Thomas Muecke - French Breakfast
Sabrina Li Fonti - Bunny Tail
Jasmine Brake - Snow Belle
Sienna Bonnor - Daikon
Isabelle Llewelyn - Daikon
Amelie Farber - White Icicle
Keira Horner - Red King
Annabelle Colechin - French Breakfast
George Schlunke - Daikon
Hugo Stretch - French Breakfast
Isabella Pardey - White Icicle
Toby Docker - Red King
Caitlyn Hotchin - French Breakfast
Samuel Ansell - Sicily Giant
Prospero Milano - Champion
Zhi Chin - White Icicle
nate brooker - daikon
Elizabeth McNab - April Cross
Amelie Torpy - Champion
Audrey Bock - Bunny Tail
Abbey Dawson - Plum Purple
Hugo Coppleson - Daikon
Lilly Tait - Red King
Archer Frederick - April Cross
Alvisio Mazzi - April Cross
Chloe  MacLaurin - Champion
Georgia Bruny - April Cross
Caitlyn Mullah - White Icicle
Gang Chia - Red King
Lauren Pennefather - French Breakfast
Fang Ch'eng - Cherry Belle
Summer Withers - Snow Belle
Kayla Sievier - Snow Belle
Edoardo Sal - Champion
Layla Fossey - April Cross
Ella Weston - Champion
Patrick Camidge - French Breakfast
Erin Stretton - French Breakfast
Poppy Duggan - Champion
Daniel Hogben - Daikon
Wan Tsai - Snow Belle
Olimpia Udinesi - April Cross
Xue Fang Fu - Daikon
Alyssa McInnes - Daikon
Connor Morphett - Plum Purple
Nathan Trott - French Breakfast
Brock Brunker - Bunny Tail
Hayden O'Connell - French Breakfast
James  Larra - April Cross
Eva Geiger - Plum Purple
Taj Shackell - White Icicle
Eliza O'Haran - Champion
Aidan Dore - April Cross
Aiden Reginald - Plum Purple
Bruna Rizzo - Snow Belle
Alex Wemyss - April Cross
claudia westgarth - daikon
Jett Glynde - Plum Purple
Brooke Huffer - Daikon
Stephanie Synan - Sicily Giant
Salvatore Sagese - French Breakfast
Edgardo Mazzanti - Daikon
Brodie De Lissa - Cherry Belle
Cai Pan - Sicily Giant
Caitlyn Ridgeway - Sicily Giant
Mason Dymock - Plum Purple
Oliviero Lucchesi - Bunny Tail
Antonietta Baresi - Cherry Belle
Abbey Cousens - Daikon
Hui Hsiung - Cherry Belle
Marcus Brown - Sicily Giant
James Poupinel - Daikon
Lucas Tomkinson - Champion
Xin Qian Shih - White Icicle
Abigail Clark - White Icicle
Archie Gilfillan - French Breakfast
maya woolcock - april cross
Wei Hsiao - Daikon
Lauren Rosevear - Red King
Eve Gargett - Snow Belle
Cristian Pisano - Champion
Bianca Knopwood - White Icicle
Alyssa Loewe - Daikon
Feng Li - French Breakfast
Yi Min Chu - Plum Purple
Aiden Tasman - Red King
corinna lucchese - champion
Taylah Shore - Cherry Belle
nilde beneventi - french breakfast
edward greener - bunny tail
Nate Lodewyckx - Sicily Giant
Mariam Langridge - Red King
Indiana Cory - Champion
David Rees - April Cross
Daniel Appleton - Red King
Luke Leeper - Red King
Toby Spring - French Breakfast
Cody Laffer - Red King
Lilian Woodriff - Plum Purple
hudson crane - sicily giant
Anthony Wand - Bunny Tail
Dean Mattner - Red King
Lucinda Howarde - Sicily Giant
Caleb Clancy - Red King
Mia Legg - White Icicle
Isla Mehaffey - Sicily Giant
Cooper Lasseter - April Cross
Indiana Scott - Cherry Belle
Kaitlyn Kay - French Breakfast
Abbey Aronson - April Cross
Madeleine Hartung - Snow Belle
Abbey Tyas - Red King
Jacob Spowers - Snow Belle
Brodie Fraser - French Breakfast
Ivo Lucchesi - Champion
Harry Wormald - French Breakfast
Lilian Macquarie - White Icicle
Chelsea Warby - Bunny Tail
Eugenio Pagnotto - Sicily Giant
Michael Hargrave - Cherry Belle
Leda Romani - April Cross
Christopher Walton - Champion
Zachary Bass - White Icicle
jorja franklyn - white icicle
Makayla Sutton - Plum Purple
Shu Fang Tsou - French Breakfast
Evie Carey - Bunny Tail
Alannah Bleakley - Bunny Tail
Alma Longo - Cherry Belle
Abbey Garvin - Snow Belle
Isabella Van De Velde - Plum Purple
scarlett price - april cross
Beau Hauslaib - Champion
Isabelle Mathew - Sicily Giant
Laura Callinan - Cherry Belle
Cody Le Rennetel - French Breakfast
Rachel Luke - Snow Belle
Tristan Glynde - Snow Belle
Qiao Tien - Bunny Tail
Alana Meares - Red King
Xiao Chen Chiang - Sicily Giant
Jack Finlay - Cherry Belle
Jaxon Keen  - Plum Purple
Jordan Catani - Plum Purple
Piera Trevisan - Red King
Bailey Mussen - Bunny Tail
Hayley Coverdale - White Icicle
Sophie Eipper - Snow Belle
Beata Endrizzi - Daikon
David Moynihan - White Icicle
Andrew Martens - French Breakfast
Nate Higgs - Red King
Isaac Banks - Snow Belle
Xavier Sligo - Champion
Nathan Aird  - Plum Purple
Cooper Monk - Bunny Tail
Kayla Kinsella - Champion
Sean Maclurcan - Sicily Giant
Jett Faucett - April Cross
Koby Mary - Red King
Lok Fan - Champion
Liam Burn - French Breakfast
Ryan Skeats - Snow Belle
Harrison Barlee - Cherry Belle
Marcus South - Champion
Emily Kumm -  White Icicle
Tristan Lack - Cherry Belle
Rebecca Godfrey - Red King
Bailey Randell - Red King
Emma Slater - Bunny Tail
Ellie Eaton - Sicily Giant
Hamish Kevin - Sicily Giant
Bella Lyttle - Bunny Tail
Guang Lo - April Cross
Jai Keith - Daikon
Lucinda Emanuel - Plum Purple
Tayla English - Plum Purple
Eden Petchy - Daikon
Lee Chen - April Cross
Angus De Mestre - White Icicle
Maya Huish - Snow Belle
Emily Plante - White Icicle
Connor Fairbridge - Bunny Tail
Lara Cawker - Champion
Blanda Panicucci - Bunny Tail
Napoleone Marcelo - Champion
Georgia Gillen - Snow Belle
Giselda Napolitano - French Breakfast
Anthony Hugo - Red King
Oscar Saltau - April Cross
Ashton Pearce - Daikon
Kiara Maxwell-Mahon - White Icicle
Sebastian Ball - French Breakfast
Anna Howarde - Bunny Tail
Lauren Nisbet - Plum Purple
Patrick Porteus - Bunny Tail
ling tuan - Red King
Park Ch'en - Sicily Giant
Yi Tseng - French Breakfast
Angelina Dangar - Snow Belle
Carolina Cattaneo - Snow Belle
Sean Tait - Snow Belle
Alex Falk - White Icicle
oliver thirkell - french breakfast
Jesse Fairley - Champion
Benito Cocci - Snow Belle
Laura Samuels - Champion
Kuan-Yin Tao - Cherry Belle
Shi She - Champion
Isabella Hoffnung - April Cross
George Carandini - White Icicle
Sarah Bindi - French Breakfast
Andrew Quick - April Cross
Giosu챔 Romano - Champion
Eva Ruth - Plum Purple
Koby Gabriel - Champion
Jayden Josephson - April Cross
Mafalda Marchesi - Snow Belle
Gabrielle Porteus - Daikon
Dylan Synnot - Red King
Brooke Kisch - Bunny Tail
Quintilia Trentini - Bunny Tail
Taj Moonlight - Plum Purple
Ava Sorell - Bunny Tail
Kate Buchanan - Sicily Giant
Stella Inwood - Cherry Belle
Cody Glauert - Snow Belle
Callimaco Lombardi - Champion
ella irving - cherry belle
Guan-yin Hsiao - Red King
alicia muscio - april cross
Alana Sturdee - Champion
Makayla Fairbairn - White Icicle
Kaitlyn Collings - Bunny Tail
Alexis Le Hunte - Champion
lilian andrade - bunny tail
Alannah Housley - Bunny Tail
Rose Peeler - Champion
Yue Wan Yeh - White Icicle
Evie Langwell - Snow Belle
Zoe Jasprizza - Red King
Ivo Sagese - April Cross
Rory Springthorpe - Snow Belle
hannah gabriel - red king
Jonathan Paten - Bunny Tail
Jessica Rapke - Sicily Giant
Jake Sterne - Daikon
Lola Mashman - Bunny Tail
Chan Yen - Cherry Belle
Timothy Beeton - White Icicle
Joseph Hill - Daikon
Luke Gye - Plum Purple
Giuseppe Manna - Sicily Giant
Matilda Wardlaw - Red King
Hannah Dibbs - Plum Purple
Xavier Truman - French Breakfast
Emma Sodersten - April Cross
Blake Sodersten - French Breakfast
Andrew Schwarz - Cherry Belle
Owen Montgomery - Snow Belle
Blake Hurst - White Icicle
Brayden Brill - Cherry Belle
Keira Strzelecki - Champion
Zhen Juan Tsai - White Icicle
Mulan Kung - Red King
Clorinda Pugliesi - Champion
Abbey Strzelecki - French Breakfast
Andrew Howitt - April Cross
Sebastian Langford - Cherry  Belle
hayley Hinchcliffe - Cherry Belle
Ebony Anton - Sicily Giant
Seth Reginald - April Cross
Beau Gosling - Plum Purple
Christopher Moss - White Icicle
laura uhr - red king
Jamie Faithful -  Red King
Isaac Tennyson - Daikon
Gemma Norton -  Sicily Giant
Matilda Madden - Red King
Azeglio Napolitano - Red King
David Tomlinson - Bunny Tail
Christian Morris - Champion
Amy Goulburn - April Cross
Christopher Clunies - April Cross
annabelle armytage - daikon
Hunter Connely - Snow Belle
Summer Stenhouse - April Cross
Alicia Farmer - White Icicle
Charlotte Slattery - Red King
Georgia Jessop - Cherry Belle
Abby Metters - Champion
Madeleine Behan - Snow Belle
Hayley Kernot - Plum Purple
Ubaldo Trevisani - Champion
Annabelle Scarfe - Cherry Belle
Flynn Weingarth - Sicily Giant
Indiana Keast - April Cross
Wang Tien - French Breakfast
Elijah Kingsbury - Plum Purple
henry wright - sicily giant
Meng Ni - Snow Belle
Sara Coffill - Sicily Giant
Giusy Lombardi - Plum  Purple
Egidio Mancini - Sicily Giant
Bethany Macfarlan - Bunny Tail
Alexis Cowlishaw - Bunny Tail
Skye Garvin - April Cross
Abbey Rivett - Snow Belle
Mikayla Woollacott - Sicily Giant
Abbey Cochran - Daikon
Jasmine Baughan - White Icicle
Da-Xia Liang - April Cross
Dominic Nangle - White Icicle
Jesse Jury - Sicily Giant
Ruby Elias - Daikon
David Read - Bunny Tail
Yue Yan T'ang - April Cross
Qiang Tsui - Cherry Belle
Grace Parkinson - Snow Belle
Yue Yan Hu - White Icicle
Adele Buccho - White Icicle
Imogen Gertrude - Bunny Tail
Kate Cyril - April Cross
Zoe Canning - Plum Purple
Imogen Gaunson - Bunny Tail
Brayden Stretch - April Cross
Jian Ts'ao - Plum Purple
Gabriella Titheradge - Red King
Alexis Nesbitt - Daikon
Galeazzo Milanesi - Champion
Eve Everingham - Daikon
on h챗 - snow belle
Archie Mathy - White Icicle
Skye Reynolds - French Breakfast
Ben Denovan - April Cross
Pia Folliero - White Icicle
Archie Michelides - Cherry Belle
zane pavy - bunny tail
Ramiro Esposito - Daikon
Brock Eames - Daikon
Savannah Sheehan - French Breakfast
angus christie - french breakfast
Dominic Tregurtha - Cherry Belle
Molly Piguenit - Plum Purple
matthew john - snow belle
Koby Ledger - White Icicle
Jasper Harper - White Icicle
William Doyle  - French Breakfast
Taj Maria - Sicily Giant
Michael Elliot - April Cross
Matthew Knibbs - Sicily Giant
Patrick Tilly - White Icicle
Sarah Kashiwagi - Bunny Tail
Abbey Bouton - Champion
Kayla Sandover - Bunny Tail
Anna Septimus - French Breakfast
Matthew Birch - Champion
Mikayla Kennerley - French Breakfast
Charli Birkbeck - Daikon
Matilda Gullett - Champion
Ella McLellan - April Cross
Silvia Rossi - Plum Purple
Chan Juan Hs체 - French Breakfast
Oliver Aspinall -  Cherry Belle
Timothy Baldwinson - Bunny Tail
Li Wei Chien - Snow Belle
Bethany Layh - French Breakfast
Gang Hsu - April Cross
Mikayla Brodney - Champion
Kuan-Yin Mao - Daikon
Elizabeth Minifie - Champion
Sarah Band - Sicily Giant
Tyson Kaberry - French Breakfast
Victoria Shipp - Cherry Belle
Henry McCorkindale - French Breakfast
William De Satg - Snow Belle
Skye Atkins - Cherry Belle
Sean Hogben - Champion
Claire Boelke - Cherry Belle
Tristan Turley - Snow Belle
Tyler Hansen - Champion
Caleb Ride - Bunny Tail
Archer Cathcart - April Cross
Hamish Helena  - French Breakfast
Agostino Milanesi - April Cross
lilly wunderlich - french breakfast
Brooke Mahomet - Sicily Giant
Seth Bramston - Daikon
Archer Kirwan - Cherry Belle
Ettore Marcelo - Champion
Blake D'Alton - Sicily Giant
Jai Burgoyne - Bunny Tail
Mikayla Minogue - April Cross
Thomas Catt - April Cross
Oscar Cocci - Daikon
Claudia Boxall - Plum Purple
Imogen Macaulay - Snow Belle
Tyson Platt - Bunny Tail
Isabelle Camden - White Icicle
Kiara Maxted - Daikon
Raffaella Trevisan - Daikon
Xiang Hs체 - Plum Purple
Hudson Greene - Bunny Tail
Ruby Wakefield - Cherry Belle
Matilda Macarthur-Onslow - Plum Purple
Jasmine Fetherstonhaugh - Snow Belle
Andrew Bower - Bunny Tail
Olindo De Luca - Cherry Belle
Alexis Kelynack - French Breakfast
Amy Clunie - White Icicle
Kang Yu - Cherry Belle
Henry Birdseye - Snow Belle
dominic gale - april cross
Edward Edmond - Snow Belle
Raul Pinto - Cherry Belle
Laura Bath - Red King
John Bale - Cherry Belle
Margherita Milani - Red King
Hudson Devine - Champion
Jaxon Cowles - Sicily Giant
Cameron Embley - Sicily Giant
Laura Wawn - Cherry Belle
Li Ming Niu - Cherry Belle
Eden Sheehan - Cherry Belle
Taj Bjelke-Petersen - French Breakfast
Declan Winston - White Icicle
Chan Chao - Red King
mikayla hebblethwaite - sicily giant
Tristan Monson - Cherry Belle
Leah Ross-Watt - Plum Purple
Hu K'ung - Daikon
Kaitlyn Carnegie - Champion
Victoria Brereton - Plum Purple
Keira Toutcher - Cherry Belle
David Morgans - Daikon
Norma Fiorentino - Red King
Sarah Paten - Sicily  Giant
Zac Cowles - Sicily Giant
Brock Fiaschi - French Breakfast
Eliza Naylor - French Breakfast
Imogen Raws - Red King
Jesse Abercrombie - Snow Belle
James Luke - White Icicle
Riley Stewart - White Icicle
amelia blue - white icicle
Cameron Pearce - Red King
Ennio DeRose - French Breakfast
Samuel Henschke - Sicily Giant
Blake MacFarland - Cherry Belle
Mary Randall - Cherry Belle
luce de luca - snow belle
Marcus Derbyshire - Bunny Tail
Hunter McEachern - Bunny Tail
Jasper Gibney - French Breakfast
Lincoln  Hoare - French Breakfast
Sofia Donnithorne - Snow Belle
Anthony Stuart - Snow Belle
Hamish Yarnold - April Cross
Lucas Schuler - Plum Purple
Milla Garling - French Breakfast
Abigail Wiltshire - Bunny Tail
Zane Wreford - Snow Belle
Sean Glew - Daikon
Ryan Aird - Red King
Jasper Harford - Champion
Charlie McCabe - Bunny Tail
Rory Evenden - White Icicle
Ebony Florence - Snow Belle
Flynn Poninski - Daikon
Ebony Lawlor - Bunny Tail
Ethan Dickson - Bunny Tail
Xavier Howchin - Bunny Tail
Zane Weindorfer - Cherry Belle
Sienna Dann - Snow Belle
Eleuterio Lombardo - White Icicle
Tyler Makutz - Champion
Yong Hsiao - White Icicle
Erin Binnie - Bunny Tail
Phoebe Barwell - Plum Purple
Dylan Barney - French Breakfast
Tristan Charteris - April Cross
Sebastian Helmore - Bunny Tail
Thomas Darcy - Bunny Tail
Quinzia Costa - Daikon
Da-Xia Hsiao - French Breakfast
Grace Frayne - Sicily Giant
Toby Queale - White Icicle
Logan Lackey - Plum Purple
na t'ao - french breakfast
Callum Prentice - Plum Purple
Levi Ferry - Sicily Giant
Hsin Tan - April Cross
Lara Macarthur - French Breakfast
Scarlett Bruny - Champion
Procopio Zito - white icicle
Jamie Ham - Bunny Tail
Kaitlyn Mullen - Daikon
Cameron Landseer - April Cross
Jasper Alfred - White Icicle
Andrew Coventry -  Cherry Belle
Scarlett Schonell - Plum Purple
Mia Alngindabu - Champion
Claire Bisdee - Daikon
Gabriella Beale - Cherry Belle
Rebecca Petrie - Snow Belle
Alexander McKean - Bunny Tail
Cody Leakey - Plum Purple
Sam Scarfe - Sicily Giant
Angus Langley - French Breakfast
Shi Shen - Sicily Giant
Park Wu - Champion
Isabelle Finney - April Cross
Aaron Addison - Plum Purple
Ethan Macdougall - Champion
cody vale - red king
Aidan Clutterbuck - French Breakfast
Durante Ferri - White Icicle
eliana baresi - white icicle

### strip() 문자열 및 공백 제거 
### data.strip('앞뒤 공백제거')
### data.strip('문자열 제거')
#### data.lstrip('시작문자열 제거')
#### data.rstrip('종료문자열 제거')

In [186]:
with open('./radishsurvey.txt') as f:  # with문이 끝나면 자동으로 close
    for i in f:                        # 라인별로 데이터 읽기
        ttxt = i.strip()               # 공백 및 캐리지리턴 제거
        parts = ttxt.split('-')        # '-'기준으로 문자열 분리
        print(parts[0], parts[1])

Evie Pulsford   April Cross
Matilda Condon   April Cross
Samantha Mansell   Champion
geronima trevisani   cherry belle
Alexandra Shoebridge   Snow Belle
Sarah Ahuia Ova   Snow Belle
Emma Slattery   Bunny Tail
Fabiana  Milanesi   Champion
Makayla McMinn   Snow Belle
Julian O'Leary   Sicily Giant
Hannah Collie   Bunny Tail
Toby Lundie   Plum Purple
Baldo Palerma   Champion
Phoebe Barwell   Plum Purple
Sheng Shen   Champion
Jonathan Rolph   Snow Belle
Aaron Yarnold   Red King
Indiana angwin    Daikon
Luke Komine   White Icicle
Blake Ricardo   Daikon
Mikayla Biddell   Daikon
Piper Wheelwright   Bunny Tail
Bailey Derrington   White Icicle
Eufrosina Ferri   Daikon
Madeleine Abrahams   Daikon
Indiana Cowper   Sicily Giant
Procopio Zito   Red King
Ryan Langley   French Breakfast
anthony Gairdner   French Breakfast
Darcy Kayser   Champion
Adelmo De Luca   Plum Purple
Sienna Hovell   Champion
Mary Cardell   April Cross
Ebony Agnes   Daikon
Lola Atkinson   Plum Purple
Jonathan Walton   Champion
Tristan Gwynn   Red King
Jackson Longman   Red King
Archer Dodds   April Cross
Lilian Burne   French Breakfast
Ava McNaughtan   April Cross
Nate Shelley   Daikon
Antonia Buccho   Champion
Kaitlyn Rudduck   Cherry Belle
Skye Thynne   Champion
Ethan Collings   Plum Purple
Finn Leverrier   Plum Purple
Lee T'an   Plum Purple
Tyler Forbes   White Icicle
abbey dunkley    plum purple
rose stacy   french breakfast
Gianfranco Cremonesi   White Icicle
Grace Wentworth   French Breakfast
Cooper Menkens    Snow Belle
Scarlett Macdougall   French Breakfast
Fabio Pugliesi   Bunny Tail
Keira Wrenfordsley   Red King
Daniel Krimper    Plum Purple
Anna Deniehy   April Cross
Sabrina Beneventi   Cherry Belle
Oliver Potts   Snow Belle
Milla Winn   Plum Purple
Finn Whitworth   Sicily Giant
Sophie Keynes   Plum Purple
Joel Brownell   Plum Purple
Jonathan Parsons   French Breakfast
Amelia Ellwood   Snow Belle
Lincoln Gatehouse   Bunny Tail
Jin Huang   Daikon
Kuan Yin Sun
Tao Hsiao   White Icicle
Emily Walters   White Icicle
nicholas kirby   french breakfast
Hong Tsui   April Cross
Mikayla Fullagar   Cherry Belle
Lola Catchpole   April Cross
Lelia Toscani   Bunny Tail
Natasha Prout   Cherry Belle
Raffaello Schiavone   Red King
Erin Stephen   Plum Purple
Eve Peacock   Daikon
Jordan Manning   Sicily Giant
Tyler Lister   April Cross
brodie agnew   daikon
Lincoln Hirschfeld   Champion
Ciriaca Genovesi   Bunny Tail
Dewei Niu   Snow Belle
Fai Teng   Bunny Tail
Rossana Cattaneo    Snow Belle
Isabelle Coombes   Daikon
Layla Hitchcock   Red King
Ashley Brigstocke   Red King
Lei Tai   Daikon
Victoria Humffray   Sicily Giant
Jake Champ   Daikon
Ben Vosper   Cherry Belle
Harrison Rose   Red King
Thomas Oom   White Icicle
Sophie Browning   Red King
Scarlett Hughes   Bunny Tail
Anthony Collits   Champion
Alicia Forrest   Sicily Giant
Riley Leakey   April Cross
Bethany Calwell   French Breakfast
Leo Sheil   April Cross
Kai MacMahon   April Cross
Rong Kuo   Champion
Stephanie Schnaars   White Icicle
Bethany Bardolph   French Breakfast
Guido Beneventi   French Breakfast
Victoria Witt   Daikon
Jun Hsiung   Bunny Tail
Noah Berrick   Daikon
Beato Mazzanti   Sicily Giant
Anna Denning   White Icicle
Sebastian George   Cherry Belle
Mackenzie Andrade   Champion
Sarah Joris    Champion
Joel Cassell   Plum Purple
Harrison Moowattin   Champion
william fenner   plum purple
Madeline Corbin   Bunny Tail
Sebastian Davitt   Champion
Li Qin Ch'ien   Sicily Giant
Owen Lea   Champion
Liam Copeland   Champion
Brianna Eltham   Sicily Giant
Joseph Gresswell   Sicily Giant
Alfonsina Marchesi   April Cross
Caitlin Houlding   Snow Belle
Natalie Schlapp   April Cross
Shaiming Fu   Champion
Lisandro Monaldo   Champion
Ruby Fox   White Icicle
Benjamin Rankin   Snow Belle
Connor Letters   April Cross
Laura Macdowell   Daikon
Jake Hervey   April Cross
Alyssa Batman   Snow Belle
Archer Larra   French Breakfast
Brayden Dixon   Bunny Tail
Kuan Yin Kuo
Lucy Ley   Red King
Rachele  Russo   Cherry Belle
Lucy Somers   Daikon
Ella Boucaut   Champion
Iacopo Baresi   Bunny Tail
Ali Dedman   White Icicle
Victoria Edinburgh   French Breakfast
Brianna Pye   Red King
Joel Bruce   Snow Belle
Lola Lea   Bunny Tail
Zachary Burford   Champion
Gabriella Bruton   April Cross
Finn Dunstan   Cherry Belle
Logan Truchanas   Red King
beau mclarty   white icicle
Carla De Luca   Daikon
Taylah Reynolds   Champion
Ava Musgrave   Bunny Tail
Jade Grimmett   Bunny Tail
Eliza Fink   April Cross
Charles Tearle   April Cross
Victoria Birch   Snow Belle
Mackenzie Geach   Plum Purple
Charles Card   Cherry Belle
Olivia Warnes   Sicily Giant
Jake Murdoch   Cherry Belle
Brayden Massina   April Cross
Sarah Milford   White Icicle
Lilian Pike   French Breakfast
Blake Dakin   Champion
Chi Hsiung   April Cross
Ludovica Siciliano   Sicily Giant
Rose Leahy   French Breakfast
Nicodemo Udinese   Bunny Tail
Amy Harriman   Sicily Giant
Harrison Macgeorge   Red King
Charles Mockridge   Cherry Belle
Victoria Hardie    Sicily Giant
Jake Hambly   Sicily Giant
Bartolomeo Mancini   French Breakfast
Maya Shackleton   Snow Belle
Hudson Dodgshun   White Icicle
Scarlett Sullivan   Snow Belle
Noah Doyne   April cross
Aidan Santo   Bunny Tail
kai emmett   bunny tail
Christopher Gillan   Daikon
Lara Salting   White Icicle
Alfonso Costa   Daikon
Mackenzie Knatchbull   Red King
Oliver Beit   Plum Purple
Thomas Muecke   French Breakfast
Sabrina Li Fonti   Bunny Tail
Jasmine Brake   Snow Belle
Sienna Bonnor   Daikon
Isabelle Llewelyn   Daikon
Amelie Farber   White Icicle
Keira Horner   Red King
Annabelle Colechin   French Breakfast
George Schlunke   Daikon
Hugo Stretch   French Breakfast
Isabella Pardey   White Icicle
Toby Docker   Red King
Caitlyn Hotchin   French Breakfast
Samuel Ansell   Sicily Giant
Prospero Milano   Champion
Zhi Chin   White Icicle
nate brooker   daikon
Elizabeth McNab   April Cross
Amelie Torpy   Champion
Audrey Bock   Bunny Tail
Abbey Dawson   Plum Purple
Hugo Coppleson   Daikon
Lilly Tait   Red King
Archer Frederick   April Cross
Alvisio Mazzi   April Cross
Chloe  MacLaurin   Champion
Georgia Bruny   April Cross
Caitlyn Mullah   White Icicle
Gang Chia   Red King
Lauren Pennefather   French Breakfast
Fang Ch'eng   Cherry Belle
Summer Withers   Snow Belle
Kayla Sievier   Snow Belle
Edoardo Sal   Champion
Layla Fossey   April Cross
Ella Weston   Champion
Patrick Camidge   French Breakfast
Erin Stretton   French Breakfast
Poppy Duggan   Champion
Daniel Hogben   Daikon
Wan Tsai   Snow Belle
Olimpia Udinesi   April Cross
Xue Fang Fu   Daikon
Alyssa McInnes   Daikon
Connor Morphett   Plum Purple
Nathan Trott   French Breakfast
Brock Brunker   Bunny Tail
Hayden O'Connell   French Breakfast
James  Larra   April Cross
Eva Geiger   Plum Purple
Taj Shackell   White Icicle
Eliza O'Haran   Champion
Aidan Dore   April Cross
Aiden Reginald   Plum Purple
Bruna Rizzo   Snow Belle
Alex Wemyss   April Cross
claudia westgarth   daikon
Jett Glynde   Plum Purple
Brooke Huffer   Daikon
Stephanie Synan   Sicily Giant
Salvatore Sagese   French Breakfast
Edgardo Mazzanti   Daikon
Brodie De Lissa   Cherry Belle
Cai Pan   Sicily Giant
Caitlyn Ridgeway   Sicily Giant
Mason Dymock   Plum Purple
Oliviero Lucchesi   Bunny Tail
Antonietta Baresi   Cherry Belle
Abbey Cousens   Daikon
Hui Hsiung   Cherry Belle
Marcus Brown   Sicily Giant
James Poupinel   Daikon
Lucas Tomkinson   Champion
Xin Qian Shih   White Icicle
Abigail Clark   White Icicle
Archie Gilfillan   French Breakfast
maya woolcock   april cross
Wei Hsiao   Daikon
Lauren Rosevear   Red King
Eve Gargett   Snow Belle
Cristian Pisano   Champion
Bianca Knopwood   White Icicle
Alyssa Loewe   Daikon
Feng Li   French Breakfast
Yi Min Chu   Plum Purple
Aiden Tasman   Red King
corinna lucchese   champion
Taylah Shore   Cherry Belle
nilde beneventi   french breakfast
edward greener   bunny tail
Nate Lodewyckx   Sicily Giant
Mariam Langridge   Red King
Indiana Cory   Champion
David Rees   April Cross
Daniel Appleton   Red King
Luke Leeper   Red King
Toby Spring   French Breakfast
Cody Laffer   Red King
Lilian Woodriff   Plum Purple
hudson crane   sicily giant
Anthony Wand   Bunny Tail
Dean Mattner   Red King
Lucinda Howarde   Sicily Giant
Caleb Clancy   Red King
Mia Legg   White Icicle
Isla Mehaffey   Sicily Giant
Cooper Lasseter   April Cross
Indiana Scott   Cherry Belle
Kaitlyn Kay   French Breakfast
Abbey Aronson   April Cross
Madeleine Hartung   Snow Belle
Abbey Tyas   Red King
Jacob Spowers   Snow Belle
Brodie Fraser   French Breakfast
Ivo Lucchesi   Champion
Harry Wormald   French Breakfast
Lilian Macquarie   White Icicle
Chelsea Warby   Bunny Tail
Eugenio Pagnotto   Sicily Giant
Michael Hargrave   Cherry Belle
Leda Romani   April Cross
Christopher Walton   Champion
Zachary Bass   White Icicle
jorja franklyn   white icicle
Makayla Sutton   Plum Purple
Shu Fang Tsou   French Breakfast
Evie Carey   Bunny Tail
Alannah Bleakley   Bunny Tail
Alma Longo   Cherry Belle
Abbey Garvin   Snow Belle
Isabella Van De Velde   Plum Purple
scarlett price   april cross
Beau Hauslaib   Champion
Isabelle Mathew   Sicily Giant
Laura Callinan   Cherry Belle
Cody Le Rennetel   French Breakfast
Rachel Luke   Snow Belle
Tristan Glynde   Snow Belle
Qiao Tien   Bunny Tail
Alana Meares   Red King
Xiao Chen Chiang   Sicily Giant
Jack Finlay   Cherry Belle
Jaxon Keen    Plum Purple
Jordan Catani   Plum Purple
Piera Trevisan   Red King
Bailey Mussen   Bunny Tail
Hayley Coverdale   White Icicle
Sophie Eipper   Snow Belle
Beata Endrizzi   Daikon
David Moynihan   White Icicle
Andrew Martens   French Breakfast
Nate Higgs   Red King
Isaac Banks   Snow Belle
Xavier Sligo   Champion
Nathan Aird    Plum Purple
Cooper Monk   Bunny Tail
Kayla Kinsella   Champion
Sean Maclurcan   Sicily Giant
Jett Faucett   April Cross
Koby Mary   Red King
Lok Fan   Champion
Liam Burn   French Breakfast
Ryan Skeats   Snow Belle
Harrison Barlee   Cherry Belle
Marcus South   Champion
Emily Kumm    White Icicle
Tristan Lack   Cherry Belle
Rebecca Godfrey   Red King
Bailey Randell   Red King
Emma Slater   Bunny Tail
Ellie Eaton   Sicily Giant
Hamish Kevin   Sicily Giant
Bella Lyttle   Bunny Tail
Guang Lo   April Cross
Jai Keith   Daikon
Lucinda Emanuel   Plum Purple
Tayla English   Plum Purple
Eden Petchy   Daikon
Lee Chen   April Cross
Angus De Mestre   White Icicle
Maya Huish   Snow Belle
Emily Plante   White Icicle
Connor Fairbridge   Bunny Tail
Lara Cawker   Champion
Blanda Panicucci   Bunny Tail
Napoleone Marcelo   Champion
Georgia Gillen   Snow Belle
Giselda Napolitano   French Breakfast
Anthony Hugo   Red King
Oscar Saltau   April Cross
Ashton Pearce   Daikon
Kiara Maxwell Mahon
Sebastian Ball   French Breakfast
Anna Howarde   Bunny Tail
Lauren Nisbet   Plum Purple
Patrick Porteus   Bunny Tail
ling tuan   Red King
Park Ch'en   Sicily Giant
Yi Tseng   French Breakfast
Angelina Dangar   Snow Belle
Carolina Cattaneo   Snow Belle
Sean Tait   Snow Belle
Alex Falk   White Icicle
oliver thirkell   french breakfast
Jesse Fairley   Champion
Benito Cocci   Snow Belle
Laura Samuels   Champion
Kuan Yin Tao
Shi She   Champion
Isabella Hoffnung   April Cross
George Carandini   White Icicle
Sarah Bindi   French Breakfast
Andrew Quick   April Cross
Giosu챔 Romano   Champion
Eva Ruth   Plum Purple
Koby Gabriel   Champion
Jayden Josephson   April Cross
Mafalda Marchesi   Snow Belle
Gabrielle Porteus   Daikon
Dylan Synnot   Red King
Brooke Kisch   Bunny Tail
Quintilia Trentini   Bunny Tail
Taj Moonlight   Plum Purple
Ava Sorell   Bunny Tail
Kate Buchanan   Sicily Giant
Stella Inwood   Cherry Belle
Cody Glauert   Snow Belle
Callimaco Lombardi   Champion
ella irving   cherry belle
Guan yin Hsiao
alicia muscio   april cross
Alana Sturdee   Champion
Makayla Fairbairn   White Icicle
Kaitlyn Collings   Bunny Tail
Alexis Le Hunte   Champion
lilian andrade   bunny tail
Alannah Housley   Bunny Tail
Rose Peeler   Champion
Yue Wan Yeh   White Icicle
Evie Langwell   Snow Belle
Zoe Jasprizza   Red King
Ivo Sagese   April Cross
Rory Springthorpe   Snow Belle
hannah gabriel   red king
Jonathan Paten   Bunny Tail
Jessica Rapke   Sicily Giant
Jake Sterne   Daikon
Lola Mashman   Bunny Tail
Chan Yen   Cherry Belle
Timothy Beeton   White Icicle
Joseph Hill   Daikon
Luke Gye   Plum Purple
Giuseppe Manna   Sicily Giant
Matilda Wardlaw   Red King
Hannah Dibbs   Plum Purple
Xavier Truman   French Breakfast
Emma Sodersten   April Cross
Blake Sodersten   French Breakfast
Andrew Schwarz   Cherry Belle
Owen Montgomery   Snow Belle
Blake Hurst   White Icicle
Brayden Brill   Cherry Belle
Keira Strzelecki   Champion
Zhen Juan Tsai   White Icicle
Mulan Kung   Red King
Clorinda Pugliesi   Champion
Abbey Strzelecki   French Breakfast
Andrew Howitt   April Cross
Sebastian Langford   Cherry  Belle
hayley Hinchcliffe   Cherry Belle
Ebony Anton   Sicily Giant
Seth Reginald   April Cross
Beau Gosling   Plum Purple
Christopher Moss   White Icicle
laura uhr   red king
Jamie Faithful    Red King
Isaac Tennyson   Daikon
Gemma Norton    Sicily Giant
Matilda Madden   Red King
Azeglio Napolitano   Red King
David Tomlinson   Bunny Tail
Christian Morris   Champion
Amy Goulburn   April Cross
Christopher Clunies   April Cross
annabelle armytage   daikon
Hunter Connely   Snow Belle
Summer Stenhouse   April Cross
Alicia Farmer   White Icicle
Charlotte Slattery   Red King
Georgia Jessop   Cherry Belle
Abby Metters   Champion
Madeleine Behan   Snow Belle
Hayley Kernot   Plum Purple
Ubaldo Trevisani   Champion
Annabelle Scarfe   Cherry Belle
Flynn Weingarth   Sicily Giant
Indiana Keast   April Cross
Wang Tien   French Breakfast
Elijah Kingsbury   Plum Purple
henry wright   sicily giant
Meng Ni   Snow Belle
Sara Coffill   Sicily Giant
Giusy Lombardi   Plum  Purple
Egidio Mancini   Sicily Giant
Bethany Macfarlan   Bunny Tail
Alexis Cowlishaw   Bunny Tail
Skye Garvin   April Cross
Abbey Rivett   Snow Belle
Mikayla Woollacott   Sicily Giant
Abbey Cochran   Daikon
Jasmine Baughan   White Icicle
Da Xia Liang
Dominic Nangle   White Icicle
Jesse Jury   Sicily Giant
Ruby Elias   Daikon
David Read   Bunny Tail
Yue Yan T'ang   April Cross
Qiang Tsui   Cherry Belle
Grace Parkinson   Snow Belle
Yue Yan Hu   White Icicle
Adele Buccho   White Icicle
Imogen Gertrude   Bunny Tail
Kate Cyril   April Cross
Zoe Canning   Plum Purple
Imogen Gaunson   Bunny Tail
Brayden Stretch   April Cross
Jian Ts'ao   Plum Purple
Gabriella Titheradge   Red King
Alexis Nesbitt   Daikon
Galeazzo Milanesi   Champion
Eve Everingham   Daikon
on h챗   snow belle
Archie Mathy   White Icicle
Skye Reynolds   French Breakfast
Ben Denovan   April Cross
Pia Folliero   White Icicle
Archie Michelides   Cherry Belle
zane pavy   bunny tail
Ramiro Esposito   Daikon
Brock Eames   Daikon
Savannah Sheehan   French Breakfast
angus christie   french breakfast
Dominic Tregurtha   Cherry Belle
Molly Piguenit   Plum Purple
matthew john   snow belle
Koby Ledger   White Icicle
Jasper Harper   White Icicle
William Doyle    French Breakfast
Taj Maria   Sicily Giant
Michael Elliot   April Cross
Matthew Knibbs   Sicily Giant
Patrick Tilly   White Icicle
Sarah Kashiwagi   Bunny Tail
Abbey Bouton   Champion
Kayla Sandover   Bunny Tail
Anna Septimus   French Breakfast
Matthew Birch   Champion
Mikayla Kennerley   French Breakfast
Charli Birkbeck   Daikon
Matilda Gullett   Champion
Ella McLellan   April Cross
Silvia Rossi   Plum Purple
Chan Juan Hs체   French Breakfast
Oliver Aspinall    Cherry Belle
Timothy Baldwinson   Bunny Tail
Li Wei Chien   Snow Belle
Bethany Layh   French Breakfast
Gang Hsu   April Cross
Mikayla Brodney   Champion
Kuan Yin Mao
Elizabeth Minifie   Champion
Sarah Band   Sicily Giant
Tyson Kaberry   French Breakfast
Victoria Shipp   Cherry Belle
Henry McCorkindale   French Breakfast
William De Satg   Snow Belle
Skye Atkins   Cherry Belle
Sean Hogben   Champion
Claire Boelke   Cherry Belle
Tristan Turley   Snow Belle
Tyler Hansen   Champion
Caleb Ride   Bunny Tail
Archer Cathcart   April Cross
Hamish Helena    French Breakfast
Agostino Milanesi   April Cross
lilly wunderlich   french breakfast
Brooke Mahomet   Sicily Giant
Seth Bramston   Daikon
Archer Kirwan   Cherry Belle
Ettore Marcelo   Champion
Blake D'Alton   Sicily Giant
Jai Burgoyne   Bunny Tail
Mikayla Minogue   April Cross
Thomas Catt   April Cross
Oscar Cocci   Daikon
Claudia Boxall   Plum Purple
Imogen Macaulay   Snow Belle
Tyson Platt   Bunny Tail
Isabelle Camden   White Icicle
Kiara Maxted   Daikon
Raffaella Trevisan   Daikon
Xiang Hs체   Plum Purple
Hudson Greene   Bunny Tail
Ruby Wakefield   Cherry Belle
Matilda Macarthur Onslow
Jasmine Fetherstonhaugh   Snow Belle
Andrew Bower   Bunny Tail
Olindo De Luca   Cherry Belle
Alexis Kelynack   French Breakfast
Amy Clunie   White Icicle
Kang Yu   Cherry Belle
Henry Birdseye   Snow Belle
dominic gale   april cross
Edward Edmond   Snow Belle
Raul Pinto   Cherry Belle
Laura Bath   Red King
John Bale   Cherry Belle
Margherita Milani   Red King
Hudson Devine   Champion
Jaxon Cowles   Sicily Giant
Cameron Embley   Sicily Giant
Laura Wawn   Cherry Belle
Li Ming Niu   Cherry Belle
Eden Sheehan   Cherry Belle
Taj Bjelke Petersen
Declan Winston   White Icicle
Chan Chao   Red King
mikayla hebblethwaite   sicily giant
Tristan Monson   Cherry Belle
Leah Ross Watt
Hu K'ung   Daikon
Kaitlyn Carnegie   Champion
Victoria Brereton   Plum Purple
Keira Toutcher   Cherry Belle
David Morgans   Daikon
Norma Fiorentino   Red King
Sarah Paten   Sicily  Giant
Zac Cowles   Sicily Giant
Brock Fiaschi   French Breakfast
Eliza Naylor   French Breakfast
Imogen Raws   Red King
Jesse Abercrombie   Snow Belle
James Luke   White Icicle
Riley Stewart   White Icicle
amelia blue   white icicle
Cameron Pearce   Red King
Ennio DeRose   French Breakfast
Samuel Henschke   Sicily Giant
Blake MacFarland   Cherry Belle
Mary Randall   Cherry Belle
luce de luca   snow belle
Marcus Derbyshire   Bunny Tail
Hunter McEachern   Bunny Tail
Jasper Gibney   French Breakfast
Lincoln  Hoare   French Breakfast
Sofia Donnithorne   Snow Belle
Anthony Stuart   Snow Belle
Hamish Yarnold   April Cross
Lucas Schuler   Plum Purple
Milla Garling   French Breakfast
Abigail Wiltshire   Bunny Tail
Zane Wreford   Snow Belle
Sean Glew   Daikon
Ryan Aird   Red King
Jasper Harford   Champion
Charlie McCabe   Bunny Tail
Rory Evenden   White Icicle
Ebony Florence   Snow Belle
Flynn Poninski   Daikon
Ebony Lawlor   Bunny Tail
Ethan Dickson   Bunny Tail
Xavier Howchin   Bunny Tail
Zane Weindorfer   Cherry Belle
Sienna Dann   Snow Belle
Eleuterio Lombardo   White Icicle
Tyler Makutz   Champion
Yong Hsiao   White Icicle
Erin Binnie   Bunny Tail
Phoebe Barwell   Plum Purple
Dylan Barney   French Breakfast
Tristan Charteris   April Cross
Sebastian Helmore   Bunny Tail
Thomas Darcy   Bunny Tail
Quinzia Costa   Daikon
Da Xia Hsiao
Grace Frayne   Sicily Giant
Toby Queale   White Icicle
Logan Lackey   Plum Purple
na t'ao   french breakfast
Callum Prentice   Plum Purple
Levi Ferry   Sicily Giant
Hsin Tan   April Cross
Lara Macarthur   French Breakfast
Scarlett Bruny   Champion
Procopio Zito   white icicle
Jamie Ham   Bunny Tail
Kaitlyn Mullen   Daikon
Cameron Landseer   April Cross
Jasper Alfred   White Icicle
Andrew Coventry    Cherry Belle
Scarlett Schonell   Plum Purple
Mia Alngindabu   Champion
Claire Bisdee   Daikon
Gabriella Beale   Cherry Belle
Rebecca Petrie   Snow Belle
Alexander McKean   Bunny Tail
Cody Leakey   Plum Purple
Sam Scarfe   Sicily Giant
Angus Langley   French Breakfast
Shi Shen   Sicily Giant
Park Wu   Champion
Isabelle Finney   April Cross
Aaron Addison   Plum Purple
Ethan Macdougall   Champion
cody vale   red king
Aidan Clutterbuck   French Breakfast
Durante Ferri   White Icicle
eliana baresi   white icicle

In [187]:
'jin li - white - icicle'.split('-')

['jin li ', ' white ', ' icicle']

In [188]:
'jin li - white - icicle'.split(' - ')

['jin li', 'white', 'icicle']

In [193]:
cnt = 0
with open('./radishsurvey.txt') as f:  # with문이 끝나면 자동으로 close
    for i in f:                        # 라인별로 데이터 읽기
        ttxt = i.strip()               # 공백 및 캐리지리턴 제거
        parts = ttxt.split(' - ')      # 앞뒤 공백과 '-'기준으로 문자열 분리
        name, vote = parts             # parts변수의 첫번째 겂을 name에 두번째 값을 vote에 대입
        if vote == 'White Icicle':
            print('['+ vote +'] - '+name + ' Likes White Icicle')
            cnt += 1
print('Likes White Icicle count : ', cnt)

[White Icicle] - Luke Komine Likes White Icicle
[White Icicle] - Bailey Derrington Likes White Icicle
[White Icicle] - Tyler Forbes Likes White Icicle
[White Icicle] - Gianfranco Cremonesi Likes White Icicle
[White Icicle] - Tao Hsiao Likes White Icicle
[White Icicle] - Emily Walters Likes White Icicle
[White Icicle] - Thomas Oom Likes White Icicle
[White Icicle] - Stephanie Schnaars Likes White Icicle
[White Icicle] - Anna Denning Likes White Icicle
[White Icicle] - Ruby Fox Likes White Icicle
[White Icicle] - Ali Dedman Likes White Icicle
[White Icicle] - Sarah Milford Likes White Icicle
[White Icicle] - Hudson Dodgshun Likes White Icicle
[White Icicle] - Lara Salting Likes White Icicle
[White Icicle] - Amelie Farber Likes White Icicle
[White Icicle] - Isabella Pardey Likes White Icicle
[White Icicle] - Zhi Chin Likes White Icicle
[White Icicle] - Caitlyn Mullah Likes White Icicle
[White Icicle] - Taj Shackell Likes White Icicle
[White Icicle] - Xin Qian Shih Likes White Icicle
[White Icicle] - Abigail Clark Likes White Icicle
[White Icicle] - Bianca Knopwood Likes White Icicle
[White Icicle] - Mia Legg Likes White Icicle
[White Icicle] - Lilian Macquarie Likes White Icicle
[White Icicle] - Zachary Bass Likes White Icicle
[White Icicle] - Hayley Coverdale Likes White Icicle
[White Icicle] - David Moynihan Likes White Icicle
[White Icicle] - Angus De Mestre Likes White Icicle
[White Icicle] - Emily Plante Likes White Icicle
[White Icicle] - Kiara Maxwell-Mahon Likes White Icicle
[White Icicle] - Alex Falk Likes White Icicle
[White Icicle] - George Carandini Likes White Icicle
[White Icicle] - Makayla Fairbairn Likes White Icicle
[White Icicle] - Yue Wan Yeh Likes White Icicle
[White Icicle] - Timothy Beeton Likes White Icicle
[White Icicle] - Blake Hurst Likes White Icicle
[White Icicle] - Zhen Juan Tsai Likes White Icicle
[White Icicle] - Christopher Moss Likes White Icicle
[White Icicle] - Alicia Farmer Likes White Icicle
[White Icicle] - Jasmine Baughan Likes White Icicle
[White Icicle] - Dominic Nangle Likes White Icicle
[White Icicle] - Yue Yan Hu Likes White Icicle
[White Icicle] - Adele Buccho Likes White Icicle
[White Icicle] - Archie Mathy Likes White Icicle
[White Icicle] - Pia Folliero Likes White Icicle
[White Icicle] - Koby Ledger Likes White Icicle
[White Icicle] - Jasper Harper Likes White Icicle
[White Icicle] - Patrick Tilly Likes White Icicle
[White Icicle] - Isabelle Camden Likes White Icicle
[White Icicle] - Amy Clunie Likes White Icicle
[White Icicle] - Declan Winston Likes White Icicle
[White Icicle] - James Luke Likes White Icicle
[White Icicle] - Riley Stewart Likes White Icicle
[White Icicle] - Rory Evenden Likes White Icicle
[White Icicle] - Eleuterio Lombardo Likes White Icicle
[White Icicle] - Yong Hsiao Likes White Icicle
[White Icicle] - Toby Queale Likes White Icicle
[White Icicle] - Jasper Alfred Likes White Icicle
[White Icicle] - Durante Ferri Likes White Icicle
Likes White Icicle count :  59

In [196]:
dic_cnt = {}
cnt = 0
with open('./radishsurvey.txt') as f:  # with문이 끝나면 자동으로 close
    for i in f:                        # 라인별로 데이터 읽기
        ttxt = i.strip()               # 공백 및 캐리지리턴 제거
        parts = ttxt.split(' - ')      # 앞뒤 공백과 '-'기준으로 문자열 분리
        name, vote = parts             # parts변수의 첫번째 겂을 name에 두번째 값을 vote에 대입
        if vote not in dic_cnt:        # dic_cnt변수에 vote 존재여부 확인
            dic_cnt[vote] = 1          # 없으면 dic_cnt에 1을 셋팅
        else:                          # 있으면 dic_cnt에 1을 더함
            dic_cnt[vote] += 1
            cnt += 1
print(dic_cnt)

{'April Cross': 67, 'Champion': 75, 'cherry belle': 2, 'Snow Belle': 58, 'Bunny Tail': 68, 'Sicily Giant': 52, 'Plum Purple': 53, 'Red King': 52, ' Daikon': 1, 'White Icicle': 59, 'Daikon': 58, 'French Breakfast': 65, 'Cherry Belle': 53, ' plum purple': 1, 'french breakfast': 7, ' Snow Belle': 2, ' Plum Purple': 1, 'daikon': 4, 'plum purple': 1, 'white icicle': 5, 'April cross': 1, 'bunny tail': 4, 'april cross': 4, 'champion': 1, 'sicily giant': 3, ' White Icicle': 1, 'red king': 3, 'Cherry  Belle': 1, ' Red King': 1, ' Sicily Giant': 1, 'Plum  Purple': 1, 'snow belle': 3, ' Cherry Belle': 2, 'Sicily  Giant': 1}

In [205]:
for i in dic_cnt:
    count = dic_cnt[i]
    print(i,' : ', count)

April Cross  :  67
Champion  :  75
cherry belle  :  2
Snow Belle  :  58
Bunny Tail  :  68
Sicily Giant  :  52
Plum Purple  :  53
Red King  :  52
 Daikon  :  1
White Icicle  :  59
Daikon  :  58
French Breakfast  :  65
Cherry Belle  :  53
 plum purple  :  1
french breakfast  :  7
 Snow Belle  :  2
 Plum Purple  :  1
daikon  :  4
plum purple  :  1
white icicle  :  5
April cross  :  1
bunny tail  :  4
april cross  :  4
champion  :  1
sicily giant  :  3
 White Icicle  :  1
red king  :  3
Cherry  Belle  :  1
 Red King  :  1
 Sicily Giant  :  1
Plum  Purple  :  1
snow belle  :  3
 Cherry Belle  :  2
Sicily  Giant  :  1

In [210]:
DF(list(dic_cnt.items()), columns=['keys', 'values'])

                keys  values
0        April Cross      67
1           Champion      75
2       cherry belle       2
3         Snow Belle      58
4         Bunny Tail      68
5       Sicily Giant      52
6        Plum Purple      53
7           Red King      52
8             Daikon       1
9       White Icicle      59
10            Daikon      58
11  French Breakfast      65
12      Cherry Belle      53
13       plum purple       1
14  french breakfast       7
15        Snow Belle       2
16       Plum Purple       1
17            daikon       4
18       plum purple       1
19      white icicle       5
20       April cross       1
21        bunny tail       4
22       april cross       4
23          champion       1
24      sicily giant       3
25      White Icicle       1
26          red king       3
27     Cherry  Belle       1
28          Red King       1
29      Sicily Giant       1
30      Plum  Purple       1
31        snow belle       3
32      Cherry Belle       2
33     Sicily  Giant       1

In [204]:
{'b':[4,7,3,2],'a':[4,9,2,5],'c':[5,3,7,np.nan]}

ValueError: If using all scalar values, you must pass an index