In [3]:
import numpy as np
import pandas as pd
from pandas import DataFrame as DF, Series as SE

### 파일접근 모드 open('file','r|w|a') 기본은 read
#### write모드일때 파일이 존재하면 기존 자료를 모두 삭제하고 새로 기록하고 파일이 없으면 파일을 신규 생성하고 기록

In [5]:
f = open('./test.csv','w')  # test.txt파일을 생성하고 기록
f.write("1,2,3,4,5 \n")
f.write("1,2,3,4,5 \n")
f.write("1,2,3,4,5 \n")
f.close()

In [6]:
with open('./test.csv','a') as f:
    f.write("1,2,3,4,5 \n")
    f.write("1,2,3,4,5 \n")
    f.write("1,2,3,4,5 \n")

In [15]:
with open('./test.csv') as f:
    for doc in f:
        print(doc,end='')  # print수행시 캐리지리턴을 수행하지 말것(end='')

a,b,c,d,message
1,2,3,4,hello
1,2,3,4,world
1,2,3,4,foo

In [14]:
f = open('./test.csv','w')  # test.txt파일을 생성하고 기록
f.write("a,b,c,d,message \n")
f.write("1,2,3,4,hello \n")
f.write("1,2,3,4,world \n")
f.write("1,2,3,4,foo \n")
f.close()

In [16]:
df = pd.read_csv('./test.csv', header=1)
df

   1  2  3  4  hello
0  1  2  3  4  world
1  1  2  3  4    foo

In [17]:
pd.read_csv('./test.csv', names=['col1','col2','col3','col4','col5'])

  col1 col2 col3 col4      col5
0    a    b    c    d  message
1    1    2    3    4    hello
2    1    2    3    4    world
3    1    2    3    4      foo

In [19]:
pd.read_csv('./test.csv',skiprows=1)

   1  2  3  4  hello
0  1  2  3  4  world
1  1  2  3  4    foo

In [22]:
df = pd.read_csv('./test.csv',nrows=2, header=None)

In [25]:
df.to_csv('./tocsv.csv', index=False)

### Folder관리

In [26]:
import os

In [27]:
os.listdir()

['.ipynb_checkpoints',
 '2week.ipynb',
 '2week_web.ipynb',
 '3week_sat_dataframe.ipynb',
 '3week_web.ipynb',
 '3wwek_sat_FileIO.ipynb',
 '3wwek_sat_graph.ipynb',
 'duckdb_test.db',
 'duckdb_test.db.wal',
 'duckdb_xlsx.ipynb',
 'duck_oracle.ipynb',
 'radishsurvey.txt',
 'test.csv',
 'test17.ipynb',
 'tocsv.csv',
 'Untitled.ipynb',
 '시계열예측.ipynb',
 '여행자휴대품검사결과.xlsx']

In [28]:
os.getcwd()

'C:\\python\\study\\cnu2023'

In [30]:
os.times()

nt.times_result(user=1.34375, system=0.625, children_user=0.0, children_system=0.0, elapsed=0.0)

In [31]:
os.rename('tocsv.csv','ttocsv.csv')

In [34]:
os.environ

environ{'ALLUSERSPROFILE': 'C:\\ProgramData',
        'APPDATA': 'C:\\Users\\lj040\\AppData\\Roaming',
        'COMMONPROGRAMFILES': 'C:\\Program Files\\Common Files',
        'COMMONPROGRAMFILES(X86)': 'C:\\Program Files (x86)\\Common Files',
        'COMMONPROGRAMW6432': 'C:\\Program Files\\Common Files',
        'COMPUTERNAME': 'BOOK-U301VLBPNA',
        'COMSPEC': 'C:\\WINDOWS\\system32\\cmd.exe',
        'DRIVERDATA': 'C:\\Windows\\System32\\Drivers\\DriverData',
        'HOMEDRIVE': 'C:',
        'HOMEPATH': '\\Users\\lj040',
        'JAVA_HOME': 'C:\\Program Files\\Java\\jdk-17\\bin\\server',
        'LOCALAPPDATA': 'C:\\Users\\lj040\\AppData\\Local',
        'LOGONSERVER': '\\\\BOOK-U301VLBPNA',
        'NUMBER_OF_PROCESSORS': '16',
        'ONEDRIVE': 'C:\\Users\\lj040\\OneDrive',
        'OPENAI_API_KEY': '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',
        'OS': 'Windows_NT',
        'PATH': 'C:\\python\\ml308\\Scripts;C:\\python\\python310\\Scripts\\;C:\\python\\python310\\;C:\\WINDOWS\\system32;C:\\WINDOWS;C:\\WINDOWS\\System32\\Wbem;C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0\\;C:\\WINDOWS\\System32\\OpenSSH\\;C:\\Program Files\\Bandizip\\;C:\\Program Files\\Microsoft SQL Server\\150\\Tools\\Binn\\;C:\\Program Files\\Microsoft SQL Server\\Client SDK\\ODBC\\170\\Tools\\Binn\\;C:\\Program Files\\dotnet\\;C:\\Program Files\\Java\\jdk-17\\bin\\server\\bin\\;C:\\oracle\\instantclient_11_2;C:\\python\\ml308\\Scripts\\;C:\\Users\\lj040\\AppData\\Local\\Microsoft\\WindowsApps;C:\\Users\\lj040\\AppData\\Local\\Programs\\Microsoft VS Code\\bin;C:\\Users\\lj040\\.dotnet\\tools;C:\\python\\superset;C:\\oracle\\instantclient_11_2;C:\\python\\ml308\\Scripts\\;',
        'PATHEXT': '.COM;.EXE;.BAT;.CMD;.VBS;.VBE;.JS;.JSE;.WSF;.WSH;.MSC;.PY;.PYW;.CPL',
        'PROCESSOR_ARCHITECTURE': 'AMD64',
        'PROCESSOR_IDENTIFIER': 'Intel64 Family 6 Model 154 Stepping 3, GenuineIntel',
        'PROCESSOR_LEVEL': '6',
        'PROCESSOR_REVISION': '9a03',
        'PROGRAMDATA': 'C:\\ProgramData',
        'PROGRAMFILES': 'C:\\Program Files',
        'PROGRAMFILES(X86)': 'C:\\Program Files (x86)',
        'PROGRAMW6432': 'C:\\Program Files',
        'PSMODULEPATH': 'C:\\Users\\lj040\\OneDrive\\문서\\WindowsPowerShell\\Modules;C:\\Program Files\\WindowsPowerShell\\Modules;C:\\WINDOWS\\system32\\WindowsPowerShell\\v1.0\\Modules',
        'PUBLIC': 'C:\\Users\\Public',
        'SESSIONNAME': 'Console',
        'SUPERSET_SECRET_KEY': 'java6461)',
        'SYSTEMDRIVE': 'C:',
        'SYSTEMROOT': 'C:\\WINDOWS',
        'TEMP': 'C:\\Users\\lj040\\AppData\\Local\\Temp',
        'TMP': 'C:\\Users\\lj040\\AppData\\Local\\Temp',
        'USERDOMAIN': 'BOOK-U301VLBPNA',
        'USERDOMAIN_ROAMINGPROFILE': 'BOOK-U301VLBPNA',
        'USERNAME': 'saicham',
        'USERPROFILE': 'C:\\Users\\lj040',
        'VIRTUAL_ENV': 'C:\\python\\ml308',
        'VS140COMNTOOLS': 'C:\\Program Files (x86)\\Microsoft Visual Studio 14.0\\Common7\\Tools\\',
        'WINDIR': 'C:\\WINDOWS',
        'WSLENV': 'WT_SESSION:WT_PROFILE_ID:',
        'WT_PROFILE_ID': '{61c54bbd-c2c6-5271-96e7-009a87ff44bf}',
        'WT_SESSION': '90c252b7-dc73-4357-805f-3e00e08755a4',
        'ZES_ENABLE_SYSMAN': '1',
        '_OLD_VIRTUAL_PATH': 'C:\\python\\python310\\Scripts\\;C:\\python\\python310\\;C:\\WINDOWS\\system32;C:\\WINDOWS;C:\\WINDOWS\\System32\\Wbem;C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0\\;C:\\WINDOWS\\System32\\OpenSSH\\;C:\\Program Files\\Bandizip\\;C:\\Program Files\\Microsoft SQL Server\\150\\Tools\\Binn\\;C:\\Program Files\\Microsoft SQL Server\\Client SDK\\ODBC\\170\\Tools\\Binn\\;C:\\Program Files\\dotnet\\;C:\\Program Files\\Java\\jdk-17\\bin\\server\\bin\\;C:\\oracle\\instantclient_11_2;C:\\python\\ml308\\Scripts\\;C:\\Users\\lj040\\AppData\\Local\\Microsoft\\WindowsApps;C:\\Users\\lj040\\AppData\\Local\\Programs\\Microsoft VS Code\\bin;C:\\Users\\lj040\\.dotnet\\tools;C:\\python\\superset;C:\\oracle\\instantclient_11_2;C:\\python\\ml308\\Scripts\\;',
        'RAY_CLIENT_MODE': '0',
        'RAY_USAGE_STATS_ENABLED': '0',
        'PYTHONBREAKPOINT': 'ray.util.rpdb._driver_set_trace',
        'PYDEVD_USE_FRAME_EVAL': 'NO',
        'JPY_SESSION_NAME': 'C:\\python\\study\\cnu2023\\Untitled1.ipynb',
        'JPY_INTERRUPT_EVENT': '13748',
        'IPY_INTERRUPT_EVENT': '13748',
        'JPY_PARENT_PID': '10976',
        'TERM': 'xterm-color',
        'CLICOLOR': '1',
        'FORCE_COLOR': '1',
        'CLICOLOR_FORCE': '1',
        'PAGER': 'cat',
        'GIT_PAGER': 'cat',
        'MPLBACKEND': 'module://matplotlib_inline.backend_inline'}

In [36]:
cf = pd.read_csv('./coffee.csv')
cf

       Coffee Water          Milk Icecream
0    Espresso    No            No       No
1  Long Black   Yes            No       No
2  Flat White    No           Yes       No
3  Cappuccino    No  Yes - Frothy       No
4    Affogato    No            No      Yes

In [40]:
!cat ./coffee.csv

'cat'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.